[과제: udf 등록 및 SQL 처리]
UDF 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살-59살: 'adult'
- age가 60살 이상: 'senior'

데이터프레임
- 변수: name, age (예: '안현', 39)
- 데이터 5개~10개 생성 

SQL 출력 결과: name, age_category(age)

- 제출 방법: GitHub에 업로드
- 제출 기한: 5.24(수)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('people_age_functions').getOrCreate()

In [16]:
world_people = [
    ('이규도', 22),
    ('안현', 39),
    ('해리 케인', 30),
    ('유재석', 51),
    ('한문철', 61),
    ('이순재', 89),
    ('장성규', 41)
]

In [17]:
schema = ['people_name', 'age']

In [18]:
df = spark.createDataFrame(data = world_people, schema=schema)

In [19]:
df.show()

+-----------+---+
|people_name|age|
+-----------+---+
|     이규도| 22|
|       안현| 39|
|  해리 케인| 30|
|     유재석| 51|
|     한문철| 61|
|     이순재| 89|
|     장성규| 41|
+-----------+---+

In [20]:
df.printSchema()

root
 |-- people_name: string (nullable = true)
 |-- age: long (nullable = true)

In [32]:
df.createOrReplaceTempView('WORLD_PEOPLE')

In [33]:
def age_category(age) :
    if (age < 35) :
        return "young!"
    elif (age >= 35 and age <= 59) :
        return "adult!"
    else :
        return "senior!"

In [34]:
spark.udf.register('age_category',age_category)

In [37]:
spark.sql(
        "SELECT people_name,age,age_category(age) \
        AS age_category FROM WORLD_PEOPLE").show()

+-----------+---+------------+
|people_name|age|age_category|
+-----------+---+------------+
|     이규도| 22|      young!|
|       안현| 39|      adult!|
|  해리 케인| 30|      young!|
|     유재석| 51|      adult!|
|     한문철| 61|     senior!|
|     이순재| 89|     senior!|
|     장성규| 41|      adult!|
+-----------+---+------------+